pywin32
anaconda-navigator
certifi
conda
conda-build
GPy
llvmlite
mkl-fft
numba
parso
Pillow
pytz
PyYAML
pyzmq
smart-open
torch
torchaudio
torchvision
absl-py
alabaster 
altair
anaconda-client 
anaconda-project 
anomatools
anyio
anyio 
appdirs
arabic-reshaper
argh
argon2-cffi
argon2-cffi 
argon2-cffi-bindings 
asn1crypto 
astor
astroid 
astropy 
asttokens 
astunparse
async-generator
async-generator 
atomicwrites
attrs
attrs 
autopep8 
Babel
Babel 
backcall
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref
backports.zoneinfo
base58
bcrypt 
beautifulsoup4 
bitarray 
bkcharts
black
bleach
bleach 
blinker
blis
blis 
bokeh 
boto
boto3 
botocore 
Bottleneck
Bottleneck 
brotlipy
bz2file
cachetools
catalogue
catalogue 
cffi
cffi 
chardet 
charset-normalizer
charset-normalizer 
click
click 
cloudpickle 
clr
clyent
colorama
colorama 
comtypes
conda-content-trust 
conda-pack 
conda-package-handling 
conda-repo-cli 
conda-token 
conda-verify
contextlib2
cryptography 
cupy-cuda113
cvxpy
cycler
cycler 
cymem
cymem 
Cython 
cytoolz
dask 
dccp
de-core-news-sm 
debugpy 
decorator
decorator 
defusedxml
defusedxml 
diff-match-patch 
distributed 
docutils 
dtaidistance
dukpy
ecos
en-core-web-sm 
entrypoints
esprima
et-xmlfile
executing 
fastcache
fastrlock
filelock 
flake8 
Flask 
fonttools
freetype-py
fsspec 
future
future 
gensim 
gevent
gevent 
gitdb
GitPython
glfw
glob2 
gmpy2
greenlet
greenlet 
h5py
HeapDict
html5lib 
idna
idna 
imagecodecs 
imageio
imageio 
imageio-ffmpeg
images2gif
imagesize 
importlib-metadata 
iniconfig 
intervaltree 
ipykernel
ipykernel 
ipypb
ipython
ipython 
ipython-genutils
ipython-genutils 
ipywidgets
ipywidgets 
isort 
itsdangerous 
javascripthon
jax
jdcal
jedi
jedi 
Jinja2
Jinja2 
jmespath 
joblib
joblib 
json-tricks
json5
json5 
jsonschema
jsonschema 
jupyter
jupyter-client
jupyter-client 
jupyter-console
jupyter-console 
jupyter-core
jupyter-core 
jupyter-latex-envs
jupyter-packaging 
jupyter-server
jupyter-server 
jupyterlab
jupyterlab 
jupyterlab-pygments
jupyterlab-pygments 
jupyterlab-server
jupyterlab-server 
jupyterlab-widgets
jupyterlab-widgets 
keyring 
kiwisolver
kiwisolver 
langcodes
lazy-object-proxy 
libarchive-c 
locket
lxml 
macropy3
MarkupSafe
MarkupSafe 
matplotlib
matplotlib 
matplotlib-inline 
mccabe
menuinst
menuinst 
mistune
mistune 
mkl-random 
mkl-service
mlxtend
mne
mne-qt-browser
mock 
more-itertools
more-itertools 
moviepy
mpi4py
mpmath
msgpack
msgpack 
msgpack-numpy
multipledispatch
munkres
murmurhash
murmurhash 
mypy-extensions
navigator-updater
nbclassic
nbclassic 
nbclient
nbclient 
nbconvert
nbconvert 
nbformat
nbformat 
nest-asyncio
nest-asyncio 
networkx 
nltk 
nose
nose 
notebook
notebook 
numba 
numexpr
numexpr 
numpy
numpy 
numpydoc 
olefile
opencv-python
openpyxl
openpyxl 
opt-einsum
osqp
packaging
packaging 
pandas
pandas 
pandocfilters
pandocfilters 
paramiko 
paramz
parso 
partd 
path 
pathlib2 
pathspec
pathtools
pathy
patsy
pep8
pexpect 
pickleshare
pickleshare 
Pillow 
pkginfo
pkginfo 
plac 
pluggy 
ply
polara 
preshed
preshed 
proglog
prometheus-client
prometheus-client 
prompt-toolkit
prompt-toolkit 
protobuf
psutil
psutil 
PsychoPy
ptyprocess 
pure-eval 
py 
pyarrow
pycodestyle 
pycosat
pycparser
pycparser 
pycurl
pydantic
pydeck
pydocstyle 
pyEDFlib
pyerfa 
pyflakes 
pygame
pyglet
Pygments
Pygments 
PyJWT 
pylint 
pyls-black 
pyls-spyder 
pylsl
Pympler
PyNaCl 
pynndescent
pyodbc
PyOpenGL
pyOpenSSL 
pyosf
pyparsing
pyparsing 
pypiwin32
pyqmix
PyQt5
PyQt5-Qt5
PyQt5-sip
pyqtgraph
pyreadline
pyrsistent
pyrsistent 
pyserial
PySocks 
pytest
python-bidi
python-dateutil
python-dateutil 
python-gitlab
python-jsonrpc-server 
python-language-server 
pytz 
pytz-deprecation-shim
PyWavelets 
pywin32-ctypes
pyWinhook
pywinpty
pywinpty 
pyzmq 
QDarkStyle
qdldl
QtAwesome 
qtconsole
qtconsole 
QtPy
QtPy 
questplus
regex 
requests
requests 
requests-toolbelt
requests-unixsocket
rope 
Rtree 
ruamel-yaml-conda 
ruamel.yaml
s3transfer 
scikit-image
scikit-learn
scikit-learn 
scipy
scipy 
scs
seaborn 
selenium 
Send2Trash
Send2Trash 
simplegeneric
singledispatch 
sip
six
six 
sklearn
smmap
sniffio
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
sounddevice
SoundFile
soupsieve 
spacy
spacy 
spacy-legacy
spacy-loggers
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
srsly
srsly 
stack-data 
statsmodels
streamlit
sympy
sympy 
tables
tblib 
terminado
terminado 
testpath
testpath 
textdistance 
thinc
thinc 
threadpoolctl
threadpoolctl 
three-merge 
tifffile 
toml
toml 
toolz
toolz 
torchtext
tornado
tornado 
tqdm
tqdm 
traitlets
traitlets 
typed-ast 
typer
typing-extensions
typing-extensions 
tzdata
tzlocal
ujson 
umap-learn
unicodecsv
urllib3
urllib3 
validators
wasabi
wasabi 
watchdog
watchdog 
wcwidth
wcwidth 
webencodings
websocket-client
websocket-client 
Werkzeug 
widgetsnbextension
widgetsnbextension 
win-inet-pton 
win-unicode-console
wincertstore
WMI
wrapt
wxPython
xarray
xgboost
xlrd
xlrd 
XlsxWriter 
xlwings
xlwt
xmltodict
yapf 
zict
zipp 
zope.event
zope.interface 
